<br/><br/><table class="form-flow">
  <tr id="steps"></tr>
</table><br/><br/>
<form class="form_1">
  <h2>Site A Details</h2><hr/><br/>
  <input type="text" placeholder="Site Name" class="form" onChange="clickMe();"></input><br/><br/>
  <select type="dropdown" class="form">
    <option>Select Location</option>
    <option>Johor</option>
    <option>Pahang</option>
  </select><br/><br/>
  <select type="dropdown" class="form">
    <option>Select UPE</option>
    <option>CBA</option>
    <option>Non CBA</option>
  </select><br/><br/>
  <h2>Site B Details  </h2><hr/><br/>
  <input type="text" placeholder="Site Name" class="form"></input><br/><br/>
  <select type="dropdown" class="form">
    <option>Select Location</option>
    <option>Johor</option>
    <option>Pahang</option>
  </select><br/><br/>
  <select type="dropdown" class="form">
    <option>Select UPE</option>
    <option>CBA</option>
    <option>Non CBA</option>
  </select><br/><br/><hr/>
  <input type="button" value="Next" class="btn btn-primary" onclick="handleNext(1);"></input>
</form>

<form class="form_2">
  <h1>Service</h1><hr/>
  <input type="text" placeholder="Speed" class="form"></input><br/><br/>
  <input type="text" placeholder="Class of Service" class="form"></input><br/><br/>
  <input type="text" placeholder="Service Level" class="form"></input><br/><br/>
  <input type="text" placeholder="Contract" class="form"></input><br/><br/>
  <input type="text" placeholder="Inter-Link Category" class="form"></input><br/><br/>
  <input type="text" placeholder="Discount" class="form"></input><br/><br/>
  <h1>Additional Fiber</h1><hr/><br/>
  <input type="text" placeholder="Type" class="form"></input><br/><br/>
  <input type="text" placeholder="Distance" class="form"></input><br/><br/><hr/>
  <input type="button" value="Next" class="btn btn-primary"></input>
</form>

<form class="form_3">
  <h1>Router</h1><hr/>
  <input type="text" placeholder="Brand" class="form"></input><br/><br/>
  <input type="text" placeholder="BOM Cost" class="form"></input><br/><br/>
  <input type="text" placeholder="Quantity" class="form"></input><br/><br/>
  <input type="text" placeholder="Discount" class="form"></input><br/><br/>
  <h1>Internal Wiring</h1><hr/>
  <input type="text" placeholder="Internal Wiring" class="form"></input><br/><br/>
  <input type="button" value="Next" class="btn btn-primary"></input>
</form>

<form class="form_4">
  <hr/><table>
    <tr>
        <td>Total One Time Charge</td>
        <td>RM Something</td>
    </tr>
    <tr>
        <td>Total Recurring Monthly Charge</td>
        <td>RM Something</td>
    </tr>
    <tr>
        <td>Total Recurring Monthly Charge (+Discount)</td>
        <td>RM Something</td>
    </tr>
    <tr>
        <td>Total Recurring Monthly Charge (+Discount +Tax)</td>
        <td>RM Something</td>
    </tr>
  </table><hr/><br/>
  <h1>Contact Information</h1>
  <input type="text" placeholder="Name" class="form"></input><br/><br/>
  <input type="text" placeholder="Phone No." class="form"></input><br/><br/>
  <input type="text" placeholder="Fax No." class="form"></input><br/><br/>
  <input type="text" placeholder="Email" class="form"></input><br/><br/><hr/>
  <input type="button" value="Submit" class="btn btn-primary"></input>
</form>

<form class="form_5">
  <p>Final form</p>
  <p>Display the template version with the filled info... note editable</p>
</form>
