@media screen and (max-width: 480px){
html{
  text-align: center;
}
h1{
  background-color: #DC7F0F;
  color: #fff;
  padding: 1em;
}
h2{
  background-color: #12128A;
  color: #fff;
}
#logo{
  height: 50%;
  width: 30%;
}
#logo-home{
  padding: .7em;
  float: left;
  height: 70%;
  width: 12%;
}
ul.nav{
  height: 4em;
  padding: 0;
  margin: 0;
  background-color: #12128A;
  list-style: none;
  overflow: hidden;
}
ul.nav-full{
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #12128A;
  list-style-type: none;
  position: fixed;
  #logo-home{
    padding: .7em;
    float: left;
    height: 6.3%;
    width: 23.3%;
  }
  li{
    text-align: left;
    width: 100%;
    display: block;
    padding: 1em 1em;
    color: #fff;
  }
  li:hover{
    color: #000;
    background-color: #ADADAC;
  }
}
ul{
  height: 4em;
  padding: 0;
  padding-left: 20%;
  margin: 0;
  background-color: #12128A;
  list-style: none;
  overflow: hidden;
}
li{
  float: left;
  color: #fff;
  padding: 1.5em 1.5em;
}
li:hover{

  color: #000;
  background-color: #fff;
  .btn{
      color: #000;
  }
}
.btn{
  color: #fff;
  text-decoration: none;
}
.btn.btn-primary{
  width: 25%;
  color: #000;
}
.form{
  width: 50%;
}
.form_1{
}
.form_2{

}
.form_3{

}
.form_4{

}
.form_5{

}
table{
  padding-left: 30%;
  text-align: left;
}
tr{
  border: .1em solid #000;
}
td{
  border: .1em solid #000;
  padding: 0.25em;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
table.form-flow{
  padding-left: 0;
  text-align: center;
  td{
    width: 15em;
    border-radius: 1em;
    border: .1em solid #000;
    padding: 2em;
    background-color: #E3810B;
  }
  td.active{
    border-radius: 1em;
    border: .1em solid #000;
    padding: 2em;
    color: #fff;
    background-color: #925205;
  }
}
table.form-flow2{
  padding-left: 4%;
  text-align: center;
  td{
    width: 15em;
    border-radius: 1em;
    border: .1em solid #000;
    padding: 2em;
    background-color: #E3810B;
  }
  td.active{
    border-radius: 1em;
    border: .1em solid #000;
    padding: 2em;
    color: #fff;
    background-color: #925205;
  }
}
table.form-table{
  width: 90%;
  padding-left: 10%;
  text-align: center;
  td{
    border: none;
    .form{
      width: 50%;
    }
  }
}
table.table-location{
  padding-left: 5%;
  width: 95%;
  text-align: center;
  font-size: .75em;
  th{
    border: .1em solid #000;
    padding: 0.25em;
  }
}
.contact{
  .form{
    width: 100%;
  }
  .btn.btn-primary{
    margin: 0;
    padding: 0;
    width: 50%;
  }
}
.slide{
  padding-left: 25%;
  width:50%;
}
.form-head{
  text-align: left;
  padding-left: 20%;
  width: 60%;
}
#form-logo{
  float: right;
  height: 8em;
  width: 8em;
}
.form-VAS{
  padding-left: 35%;
  text-align: left;
  #IP-in{
    text-align: center;
    width: 2.5%;
  }
}
table.table-summary{
  padding-left: 5%;
  width: 95%;
  text-align: center;
  font-size: .5em;
  th{
    text-align: left;
    border: .1em solid #000;
    padding: 0.25em;
  }
  td{
    width: 20%;
    text-align: left;
    border: .1em solid #000;
    padding: 0.25em;
  }
}
#success{
  background-color: #23BB17;
  font-size: 1em;
}
#failed{
  background-color: #EA2020;
  font-size: 1em;
}
footer{
  font-size: 0.75em;
  height: 4em;
  padding: 1em;
  background-color: #12128A;
  color: #fff;
}
}
@media screen and (min-width: 481px){
  html{
    text-align: center;
  }
  h1{
    background-color: #DC7F0F;
    color: #fff;
    padding: 1em;
  }
  h2{
    background-color: #12128A;
    color: #fff;
  }
  #logo{
    height: 15%;
    width: 15%;
  }
  #logo-home{
    padding: .7em;
    float: left;
    height: 70%;
    width: 5%;
  }
  ul.nav{
    height: 4em;
    padding: 0;
    margin: 0;
    background-color: #12128A;
    list-style: none;
    overflow: hidden;
  }
  ul.nav-full{
    width: 100%;
    height: 4em;
    padding: 0;
    margin: 0;
    background-color: #12128A;
    list-style-type: none;
    li{
      text-align: left;
      display: inline;
      float: left;
      padding: 1.5em 1.5em;
      color: #fff;
    }
    li:hover{
      color: #000;
      background-color: #ADADAC;
    }
  }
  .btn{
    color: #fff;
    text-decoration: none;
  }
  .btn.btn-primary{
    width: 25%;
    color: #000;
  }
  .form{
    width: 25%;
  }
  .form_1{
  }
  .form_2{

  }
  .form_3{

  }
  .form_4{

  }
  .form_5{

  }
  .contact{
    .form{
      width: 100%;
    }
    .btn.btn-primary{
      margin: 0;
      padding: 0;
      width: 50%;
    }
  }
  .slide{
    padding-left: 37.5%;
    width:25%;
  }
  .form-head{
    text-align: left;
    padding-left: 20%;
    width: 60%;
  }
  table.table-location{
    padding-left: 5%;
    width: 95%;
    text-align: center;
    font-size: .75em;
    th{
      text-align: left;
      border: .1em solid #000;
      padding: 0.25em;
    }
    td{
      text-align: left;
      border: .1em solid #000;
      padding: 0.25em;
    }
  }
  table.table-summary{
    padding-left: 5%;
    width: 95%;
    text-align: center;
    font-size: .75em;
    th{
      text-align: left;
      border: .1em solid #000;
      padding: 0.25em;
    }
    td{
      width: 20%;
      text-align: left;
      border: .1em solid #000;
      padding: 0.25em;
    }
  }
  #success{
    background-color: #23BB17;
    font-size: 1em;
  }
  #failed{
    background-color: #EA2020;
    font-size: 1em;
  }
  footer{
    font-size: 0.75em;
    height: 4em;
    padding: 1em;
    background-color: #12128A;
    color: #fff;
  }
}
